# Decision Tree

### Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import random
from pprint import pprint

### Load Data

In [2]:
df = pd.read_csv("Iris.csv")
df = df.rename(columns={"species":"label"})

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width        label
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   label         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### Train-Test Split

In [6]:
def train_test_split(df,test_size):
    if isinstance(test_size, float):
        test_size= round(test_size*len(df))
    indexList=df.index.tolist()
    testIndexes=random.sample(population=indexList,k=test_size)
    trainIndexes=filter(lambda i: i not in testIndexes, indexList)
    test_df=df.loc[testIndexes]
    train_df=df.loc[trainIndexes]
    return train_df,test_df

In [7]:
random.seed(0)
train_df, test_df = train_test_split(df,test_size=10)
test_df

     sepal_length  sepal_width  petal_length  petal_width            label
98            5.1          2.5           3.0          1.1  Iris-versicolor
107           7.3          2.9           6.3          1.8   Iris-virginica
10            5.4          3.7           1.5          0.2      Iris-setosa
66            5.6          3.0           4.5          1.5  Iris-versicolor
130           7.4          2.8           6.1          1.9   Iris-virginica
124           6.7          3.3           5.7          2.1   Iris-virginica
103           6.3          2.9           5.6          1.8   Iris-virginica
77            6.7          3.0           5.0          1.7  Iris-versicolor
122           7.7          2.8           6.7          2.0   Iris-virginica
91            6.1          3.0           4.6          1.4  Iris-versicolor

In [8]:
train_df

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[140 rows x 5 columns]

## Helper Functions

### Data Pure?

In [9]:
def check_purity(data):
    unique_classes = np.unique(data[:,-1])
    if len(unique_classes) == 1:
        return True
    else:
        return False

In [10]:
#test
check_purity(train_df[train_df.petal_width<0.8].values)

True

### Classify

In [11]:
def classify_data(data):
    #from data sent here find the majority element
    
    unique_classes,count_unique_class=np.unique(data[:,-1],return_counts=True)
    index_in_unique_classes=np.argmax(count_unique_class)
    return unique_classes[index_in_unique_classes]

In [12]:
#test1
classify_data(train_df.values)

'Iris-setosa'

In [13]:
#test2
classify_data(train_df[train_df.petal_width>1].values)

'Iris-virginica'

### Potential Splits

In [17]:
def get_potential_splits(data):
    potential_splits={}
    _,cols = data.shape
    potential_splits={}
    for i in range(cols-1):
        unique_column_values= np.unique(data[:,i])
        
        split_values=[]
        for j in range(len(unique_column_values)):
            if(j!=0):
                split_value=(unique_column_values[j-1]+unique_column_values[j])/2
                split_values.append(split_value)
                
        potential_splits[i]=split_values
    return potential_splits

### Split Data

In [15]:
def split_data(data,split_column,split_value):
    split_column_values=data[:,split_column]
    data_below=data[split_column_values<=split_value]
    data_above=data[split_column_values>split_value]
    return data_below,data_above

In [16]:
split_column=3
split_value=0.8
plotting_df=pd.DataFrame(data_below,columns=df.columns)

sns.lmplot(data=plotting_df,x="petal_width",y="petal_length",fit_reg=False,height=4,aspect=1.5)
plt.vlines(x=split_value,ymin=1,ymax=7,colors="black")
plt.xlim(0,2.6)

NameError: name 'data_below' is not defined

### Lowest Overall Entropy

In [ ]:
def calculate_entropy(data):
    _,counts=np.unique(data[:,-1],return_counts=True)
    probabilities = counts / counts.sum()
    entropy=sum(probabilities*-np.log2(probabilities))
    return entropy

In [ ]:
def calculate_overall_entropy(data_below,data_above):
    l_data_below=len(data_below)
    l_data_above=len(data_above)

    p_data_below=l_data_below/(l_data_below+l_data_above)
    p_data_above=l_data_above/(l_data_below+l_data_above)

    overall_entropy=p_data_below*calculate_entropy(data_below) + p_data_above*calculate_entropy(data_above)

    return overall_entropy

In [ ]:
def determine_best_split(data,potential_splits):
    overall_entropy=999
    for column_index in potential_splits:
        for value in potential_splits[column_index]:
            data_below,data_above=split_data(data,column_index,value)
            current_overall_entropy=calculate_overall_entropy(data_below,data_above)
            if current_overall_entropy<=overall_entropy:
                overall_entropy=current_overall_entropy
                best_split_column=column_index
                best_split_value=value
                
    return best_split_column,best_split_value

## Decision Tree Algorithm

### Algorithm

In [ ]:
def decision_tree_algorithm(df, counter=0, min_samples=2,max_depth=5):
    
    #data prepartions
    if counter==0: 
        global column_headers
        column_headers=df.columns
        data=df.values
    else:
        data=df

    #base case
    if (check_purity(data)) or (len(data) < min_samples) or (counter==max_depth) :
        classification = classify_data(data)
        return classification
    #recursion
    else:
        counter+=1
        
        #helper functions
        potential_splits=get_potential_splits(data)
        split_column,split_value=determine_best_split(data,potential_splits)
        data_below, data_above=split_data(data,split_column,split_value)
        
        #instantiate sub tree
        feature_name=column_headers[split_column]
        question="{} <= {}".format(feature_name,split_value)
        sub_tree={question:[]}
        
        #find answers (recursion)
        yes_answer=decision_tree_algorithm(data_below,counter,min_samples,max_depth)
        no_answer=decision_tree_algorithm(data_above,counter,min_samples,max_depth)

        if yes_answer == no_answer:
            sub_tree=yes_answer
        else:
            sub_tree[question].append(yes_answer)
            sub_tree[question].append(no_answer)

        return sub_tree

In [ ]:
tree=decision_tree_algorithm(train_df,min_samples=2,max_depth=3)
pprint(tree)

{'petal_width <= 0.8': ['Iris-setosa',
                        {'petal_width <= 1.65': [{'petal_length <= 4.95': ['Iris-versicolor',
                                                                           'Iris-virginica']},
                                                 'Iris-virginica']}]}

### Classification

In [ ]:
example=test_df.iloc[1]
example

sepal_length               7.3
sepal_width                2.9
petal_length               6.3
petal_width                1.8
label           Iris-virginica
Name: 107, dtype: object

In [ ]:
def classify_example(example,tree):
    question = list(tree.keys())[0]
    feature_name, _, value = question.split()
    
    #ask question
    if example[feature_name] <= float(value):
        answer = tree[question][0]
    else:
        answer = tree[question][1]
    
    #base case
    if not isinstance(answer, dict):
        return answer
    
    #recursive part
    else:
        residual_tree=answer
        return classify_example(example,residual_tree)

In [ ]:
classify_example(example,tree)

'Iris-virginica'

### Accuracy

In [ ]:
def calculate_Accuracy(df,tree):
    df["classification"]=df.apply(classify_example,axis=1,args=(tree,))
    df["classification_correct"]=df.classification==df.label
    accuracy=df.classification_correct.mean()
    return accuracy

In [ ]:
calculate_Accuracy(test_df,tree)

0.9